# See https://next-drupal.org/docs/environment-variables
NEXT_PUBLIC_DRUPAL_BASE_URL=https://dev.next-drupal.org
NEXT_IMAGE_DOMAIN=dev.next-drupal.org

NEXTAUTH_SECRET=some-random-string
NEXTAUTH_URL=http://localhost:3000

DRUPAL_CLIENT_ID=c8f1e521-9b47-4a63-9141-efe1fbc65bcb
DRUPAL_CLIENT_SECRET=secret